body {
    background-image: url("https://www.argentina.gob.ar/sites/default/files/2021/07/2021_07_argentina-programa_jumbotron-1_1.jpg");
              }

h1 { text-align-last: center;}
p { text-align-last: center;}             
#prueba { text-align-last: center;}
#iframe { text-align-last: center;}